<!DOCTYPE HTML>
<html>
        <head>
                <title>Simple NodeJS Application</title>
        </head>
        <body>
                <h1>Music Database</h1>
                <h2><%= locals.settings.subtitle %> </h2>
                           <div id="content">
